[Unit]
Description=GSS User Proxy
Documentation=man:gssproxy(8)

[Service]
Type=exec
StandardError=journal
ExecStart=/usr/bin/gssproxy -i -u
Restart=on-failure
